.mat-raised-button {
    margin: 1px;
}

h3 {
    font-weight: bold;
}

.list-group-item {
    font-weight: bold;
    background-color: #EEECE1;
}

.form-control {
    font-family: inherit;
}

#pictureItem {
    max-width: 600px;
}
#bodyFirst {
    position: fixed;
    top:10%;
    height: 41%;
    width: 100%;
    max-width: 600px;
    background-color: #EEECE1;
}

#bodyFirstItem {
    position: fixed;
    top: 51%;
    width: 100%;
    max-width: 600px;
}

#bodySecond {
    position: fixed;
    width: 98%;
    max-width: 580px;
    top:56%;
    height: 10%;
    vertical-align: middle;
    margin: auto;
    padding:  5px 5%;
    margin: 1%;
    background-color: #FFF;
    overflow-y: scroll;
}

.bodyThird {
    position: fixed;
    width: 100%;
    max-width: 600px;
    padding: 5px 3%;
    top:66%;
    height: 17%;
    background-color: #FFF;
}

#bodyFourth {
    position: fixed;
    width:100%;
    max-width: 600px;
    padding: 5px 5%;
    top:80%;
    height: 7%;
    background-color: #FFB35D;
}

#item_qty {
    vertical-align: middle;
    margin: 2%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

