<div class="header">
    <app-navbar></app-navbar>
    <div class="title">
        <app-infobartitle #title [parentData] translate="idTitle"></app-infobartitle>
    </div>
</div>
<div class="bodyFirst">
    <!-- Using the (click) event, we can load a specific item into the system and use its data to navigate -->
        <div class="item-desc" (click)="selectItem(selectedItem)" > 
            <img id="itemDescPicture" src={{selectedItem.picturePath}} alt={{selectedItem.title}}>
        </div>
        <div>
            <ul id="hd" class="list-group">
                <li class="list-group-item d-flex justify-content-start">
                    <div style="width: 80%;">{{selectedItem.title}}</div>
                    <div style="width: 20%;">${{selectedItem.value}}</div>
                </li>
            </ul>
        </div>
</div>
<div class="bodySecond">
    <p>{{selectedItem.description}}</p>
</div>
<form class="bodyThird">
    <div class="form-group">
        <label for="comments">Comments:</label>
        <textarea class="form-control" id="comments" name="comments" rows="2" maxlength="140"></textarea>
    </div>
</form>
<div class="bodyFourth">
        <div>
            <app-button-qt [quantity]="item_qty" (newquantity)="updateQtty($event)"></app-button-qt><br>
        </div>
    </div>
<div class="footer"> 
    <button class="buttonFooter" mat-raised-button color="warm" type="submit" value="Submit" (click)="addToOrder()">Add Item</button>
    <button class="buttonFooter" mat-raised-button color="warm" type="submit" value="go to preOrder" (click)="goToPre()">Order</button>  
</div>

