.list-group-item {
    background-color: #CECCC0;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    font-size: 20px;
    font-variant-caps: titling-caps;
}

.flex-column {
    margin-left: 30%;
    font-size: 20px;
}

.img-fluid {
    margin: 30%;
    height: 60px;
}


    
