.navBar {
    width: 100%;
    background-color: #FFB35D;
}

#backBtt {
    width: 120px;
    color: #930000;
    font-size: medium;
    float: left;

}

#menuBtt {
    width: 120px;
    color: #930000;
    display: block;
    margin-left: 66%;
    
    font-size: medium;
}