<div class="app">
    <div class="header">
        <app-navbar></app-navbar>
        <div class="title">
            <app-infobartitle #title [parentData] translate="tBill"></app-infobartitle>
        </div>
    </div>
    <div class="body">
        <!---Hard coded that needs to be translated-->
        <div class="popup text-center">
            <h2>Yes! We heard your call.</h2>
            <br/>
            <h3>The waiter is comming.<br/><br/></h3>
            <p>Thank you.<br/><br/></p>
            <app-ok-btn></app-ok-btn>
        </div>
    </div>
    <div class="footer"> 
        <app-call-waiter-btn></app-call-waiter-btn>
        <app-ok-btn></app-ok-btn>
    </div>
</div>

