<div class="header">
    <app-navbar></app-navbar>
    <div class="title">
        <app-infobartitle #title [parentData] translate="oTitle"></app-infobartitle>
    </div>
</div>
<div class="body">
    <div class="index">
        <div id="order">Ref# {{order.id}}</div>
        <div id="table" translate="oTable">{{order.tableNumber}}</div>
    </div>
        <ul id="hd" class="list-group">
            <li class="list-group-item d-flex justify-content-start">
                <div style="width: 55%;" translate="name"></div>
                <div style="width: 20%;" translate="oPrice"></div>
                <div style="width: 5%;" translate="oQty"></div>
                <div style="width: 25%;" translate="oTotal"></div><!-- <th>Total</th> -->
            </li>
        </ul>
        <ul class="list-group" *ngFor = "let orderedItem of order.items; index as i">
            <li class="list-group-item d-flex justify-content-start"> 
                <div style="width: 55%;">{{orderedItem.title}}</div>
                <div style="width: 25%;">${{orderedItem.currPrice}}</div>
                <div style="width: 10%;">{{orderedItem.qty}}</div>              
            </li>
        </ul>
</div>

<div class="footer"> 
    <app-footer-btts></app-footer-btts>
</div>



