<div class="header">
    <app-navbar></app-navbar>
    <div class="title">
        <app-infobartitle #title [parentData]="name"></app-infobartitle>
    </div>
</div>
<div class="body">

  <h2>Table {{table}}</h2>
   
  <table class="history-table">
    <tr><th><p>Name</p></th> <th><p>Delivered</p></th></tr>
    <tr class="list-group-history" *ngFor = "let historyitem of history.items; index as i">
        <td>{{historyitem.title}}</td><td><app-checklist></app-checklist></td>
    </tr>
  </table>

</div>
<div class="footer"> 
  <app-call-waiter-btn></app-call-waiter-btn>
  <app-bill-btn></app-bill-btn>
</div>
