<div class="app">
  <div class="header">
      <app-navbar></app-navbar>
      <div class="title">
          <app-infobartitle #title [parentData] translate="tHistory"></app-infobartitle>
      </div>
  </div>
  <div class="body">
    <h2 id="tableNumber" translate="iTable">
      <span>{{table}}</span>
     </h2>
      <ul class="list-group" *ngFor = "let historyitem of history.items; index as i">
        <li class="list-group-item d-flex justify-content-start align-items-center">
          <div class="flex-column" style="width: 85%;">
            {{historyitem.title}}</div>
          <div><app-checklist></app-checklist></div>
        </li>
      </ul>
    </div>
  <div class="footer"> 
    <app-call-waiter-btn></app-call-waiter-btn>
    <app-bill-btn></app-bill-btn>
  </div>
</div>
