<div class="header">
    <app-navbar></app-navbar>
    <div class="title">
        <app-infobartitle #title [parentData] translate="iTitle"></app-infobartitle>
    </div>
</div>
<div class="body">
    <ul class="list-group" *ngFor = "let item of items; index as i" >
        <li class="list-group-item d-flex justify-content-start align-items-center" (click)="selectItem(item)"> 
            <div class="image-parent">
                <img class="img-fluid" src={{item.picturePath}}   alt={{item.title}}>
            </div>
            <div class="flex-column">
                <p>{{item.title}}&nbsp;{{item.value}}</p>
            </div>
        </li>
        <!-- <li class="list-group-item"> <img [lazyLoad]= item.picturePath width=48px; alt={{item.title}}> {{item.title}} </li> -->
    </ul>
</div>
<div class="footer"> 
    <app-footer-btts></app-footer-btts>
</div>

