<div class="header">
    <app-navbar></app-navbar>
    <div class="title">
        <app-infobartitle #title [parentData]="name"></app-infobartitle>
    </div>
</div>
<div class="body">
    <ul class="list-group" *ngFor = "let item of items; index as i" >
        <li class="list-group-item"> <img src={{item.picturePath}}  width=48px; alt={{item.title}}> {{item.title}} </li>
        <!-- <li class="list-group-item"> <img [lazyLoad]= item.picturePath width=48px; alt={{item.title}}> {{item.title}} </li> -->

    </ul>
</div>
<div class="footer"> 
    <app-footer-btts></app-footer-btts>
</div>

