<div class="body">
    <router-outlet></router-outlet>
</div>
<div style="text-align: center; color: #930000;">
    <a>These links are for your tests<br/></a>
    <a routerLink= '/category'>Category | </a>
    <a routerLink= '/subcategory'>SubCategory | </a>
    <a routerLink= '/item'>item | </a>
    <a routerLink= '/full-picture'>full-picture<br/> </a>
    <a routerLink= '/order'>Order | </a>
    <a routerLink= '/bill'>Bill | </a>
    <a routerLink= '/cover'>Cover | </a>
    <a routerLink= '/history'>History | </a>
    <a routerLink= '/pre-order'>PreOrder | </a>
    <a routerLink= '/item-description'>Item-Description</a>
</div>





