<div class="app">
    <div class="header">
        <app-navbar></app-navbar>
        <div class="title">
            <app-infobartitle #title [parentData] translate="tBill"></app-infobartitle>
        </div>
    </div>
    <div class="body">
    <!---Hard coded that needs to be translated-->
    <div class="popup rounded-lg text-center">
        <h2 translate="h2Bill"></h2>
        <br/>
        <h3 translate="h3Bill"><br/><br/></h3>
        <p translate="pBill"><br/><br/></p>
        <app-ok-btn></app-ok-btn>
    </div>
    <div class="footer"> 
        <app-call-waiter-btn></app-call-waiter-btn>
        <app-ok-btn></app-ok-btn>
    </div>
</div>
