.value-button {
    display: inline-block;
    border: 2px solid #FFF;
    width: 40px;
    height: 40px;
    margin:auto;
    padding-top: 6px;
    vertical-align: middle;
    text-align: center;
  }

  .value-button:hover {
    cursor: pointer;
  }

  .qtty-label {
      margin: 1% 3%;
  }
