<div class="header">
    <app-navbar></app-navbar>
    <div class="title">
        <app-infobartitle #title [parentData]="name"></app-infobartitle>
    </div>
</div>
<div class="body">


<h2>Table: {{table}} </h2>
<h2>Items: </h2>
    <table class="pre-order-table">
        <tr><th><p>Name</p></th> <th><p>Price</p></th><th><p>Quantity</p></th></tr>
        <tr *ngFor = "let preOrder of preOrders; index as i">
            <td>{{preOrder.title}}</td> <td> Value = $ {{preOrder.value}}</td> <td><app-button-qt></app-button-qt> </td>
        </tr>
    </table>
    
    <!-- <ul class="list-group" *ngFor = "let preOrder of preOrders; index as i" >
        <li class="list-group-preOrder">  {{preOrder.title}}  Value = $ {{preOrder.value}}
        <app-button-qt></app-button-qt> </li>    
    </ul>      -->
      
    
</div>
<div class="footer"> 
    <app-footer-btts></app-footer-btts>
</div>