<div class="header">
    <app-navbar></app-navbar>
    <div class="title">
        <app-infobartitle #title [parentData]="name"></app-infobartitle>
    </div>
</div>
<div class="body">
<h2>Cover Works</h2>

<ul class="show-cover" >
    <li class="show-cover-img"> {{cover.description}} <img src={{cover.picturePath}} >  </li>
</ul>


<button id="backBtt" (click)="startApp()" mat-stroked-button color="warm">Start app</button>
</div>
<div class="footer"> 
    <app-footer-btts></app-footer-btts>
</div>