<div class="header">
    <app-navbar></app-navbar>
    <div class="title">
        <app-infobartitle #title [parentData]="name"></app-infobartitle>
    </div>
</div>
<div class="body">

    <!-- <p> {{cover.title}}  </p> -->
    <p> {{cover.description}}  </p>
    <img src={{cover.picturePath}}  width=100%; >

    <label> {{cover.altText1}}  </label>

    <label> {{cover.altText2}}  </label>



<button id="backBtt" (click)="startApp()" mat-stroked-button color="warm" translate="aTitle"></button>
</div>
<div class="footer"> 
    <app-footer-btts></app-footer-btts>
</div>