.elements {
    margin: 5% 5% 5% 5%;
    padding: 5%;
    background-color: ivory;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #888888;   
}

#logo {
    width: 100%;
    margin: 5%;
}

#picture {
    max-width: 40%;
    margin: 5% 5% 2.5% 0;
    float: left;
    border-radius: 5px;
}

h3 {
    text-align: center;
    font-weight: bold;
}

.text {
    vertical-align: middle;
    margin-top: 2%;
    text-align: justify;
}