#backBtt {
    width: 25%px;
    color: #930000;
    font-size: medium;
    float: left;

}

#menuBtt {
    min-width: 47%;
    color: #930000;
    display: block;
    font-size: medium;
    float: left;
}
