/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.header {
    position: fixed;
    top: 0;
    height: 12%;
    background-color:#FFB35D;
    width: 100%;
}

.body {
    position: fixed;
    width: 100%;
    top:12%;
    height: 76%;
    background-color: #EEECE1;
    overflow: scroll;
}

.footer {
    position: fixed;
    width: 100%;
    top:88%;
    height: 100%;
    padding: 0.5%;
    background-color: #000000;
}

.buttonFooter {
    width:49.3%;
    height: 11%;
    background-color: #930000;
    color: #FFFFFF;
    font-size: 16px;
}

#backBtt {
    min-width: 20%;
    color: #930000;
    font-size: medium;
    float: left;
}

#menuBtt {
    min-width: 45%;
    color: #930000;
    display: block;
    font-size: medium;
    float: left;
}

#langBtt {
    min-width: 35%;
    color: #930000;
    display: block;
    font-size: medium;
}
.title {
    width: 100%;
    margin-top: 5px;
    text-align: center;
    color:#930000;
    font-size: 22px;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
