/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.header {
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    max-width: 600px;
    background-color:#FFB35D;
    width: 100%;
}

.body {
    position: fixed;
    width: 100%;
    max-width: 600px;
    top:10%;
    height: 77%;
    background-color: #EEECE1;
    overflow-y: auto;
    background-image: url("./assets/icon/bg.png");
    background-size: 80%;
}

.footer {
    position: fixed;
    width: 100%;
    max-width: 600px;
    top:88%;
    height: 100%;
    padding: 0.5%;
    background-color: #000000;
}

.buttonFooter {
    width:49.3%;
    height: 11%;
    background-color: #930000;
    color: #FFFFFF;
}

#backBtt {
    min-width: 25%;
    color: #930000;
    float: left;
    font-size: 20px;
}


#menuBtt {
    min-width: 50%;
    color: #930000;
    display: block;
    float: left;
    font-size: 20px;

}

#langBtt {
    min-width: 25%;
    color: #930000;
    display: block;
    font-size: 20px;
}

.title {
    width: 100%;
    margin-top: 12px;
    text-align: center;
    color:#930000;
    font-size: 20px;
}

.popup {
    margin: 5%;
    vertical-align: middle;
    padding: 10%;
    background-color: ivory;
    box-shadow: 5px 10px 8px #888888;
}

html {
    height: 100%; 
}
body {
    margin:auto;
    background-color: #000000; 
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    max-width: 600px;
    vertical-align: middle;
    margin:auto;
    font-size: 20px;
}





